<!DOCTYPE html>


<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <meta name="keywords" content="bicicleta, bicicleta, mountain bike, road bike, bicicleta mtb, biciclete romania, componente biciclete, casti bicicleta, cauciucuri biciclete, frane bicicleta, schimbatoare bicicleta">
    <meta name="description" content="Magazin de biciclete. Livram la domiciliu biciclete, mountain bike sau road bike si componente, oriunde in Romania!">
    <title>BikeShop</title>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
    
    <main>
        
        <div id="grid-pagina">
        <section id="welcome">
            <h2>Bine ati venit!</h2>
            <%- include("../fragmente/formular-login.ejs")  %>
            <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
                <p>Ip: <%- locals.ip  %></p>
                <p class="anunt intro"><p><b>Bicicletele</b> <abbr title = "Mountain Bike">mtb</abbr> sunt super universale. Acestea pot fi utilizate pentru transportarea cumparaturilor, plimbarile prin parc sau calatoriile in jurul lumii. Insa rolul de baza a bicicletei mtb sau de munte ramane acela de a aduce un aport important biciclistului in depasirea traseelor de noroi, nu neaparat doar a celor de munte. 

                    Vezi mai jos cum sa alegi corect o bicicleta mtb.
                    
                    Bicicletele mtb sunt proiectate pentru deplasari in conditii ceva mai severe. de regula detin un cadru mai rezistent si puternic, utilizeaza anvelope mult mai late si jante armate, detin elemente de suspensie lina pentru depasirea obstacolelor cross-countru cu care se confrunta ciclistul pe traseu.
                    
                    Preturile pentru o bicicleta mountain bike difera destul de mult, asta pentru ca echiparile, cadrul si marca sunt definitorii in stabilirea unui pret corect. Poti cumpara o bicicleta mtb de incepator undeva la 1500 lei, si poti ajunge la un pret de peste 8000 lei pentru biciclete mtb de calitate.<strong>Nu uitati sa folositi casca</strong></p>
                <div id="dv-prezentare-1">
                    <div id="dv-prezentare">
                        <figure>
                            <picture>
                                <source srcset="./resurse/imagini/imag2.jpg" media="(max-width:700px)"/>
                                <source srcset="./resurse/imagini/imag3.jpg" media="(max-width:1200px)"/>
                                <img class="bicicleta" src ="resurse/imagini/imag1.jpg" alt = bicicleta>
                            </picture>
                            <figcaption>Bicicleta</figcaption>
                        </figure>
                </div>
                <section id="Demonstratie">
                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a href = "https://www.youtube.com/embed/xPKRvsFGKs4?si=Abd7u-iToayooWfU" target="ifr-video">Demonstratie MTB</a>
                            <a href = "https://www.youtube.com/embed/gsU4d2dwftk?si=j5A8_w3IauRnZ4Tx" target="ifr-video">Demonstratie Road Bike</a>
                        </div>
                    <iframe name = "ifr-video" width="560" height="315" src="https://www.youtube.com/embed/xPKRvsFGKs4?si=Abd7u-iToayooWfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
               
                </section>
                <section id="galerie-statica">
                    <h2>Galerie</h2>
                    <div id="grid-galerie">
                        <%   var d=new Date();
                             var minute = d.getMinutes();        
                             for (let imag of locals.imagini) {      
                                    if ((Math.floor(minute/15)+1) == imag.sfert_ora) {                                  
                                    %>                            
                                    <figure>                                
                                        <picture>                                    
                                            <source srcset="<%= imag.fisier_mediu %>" media="(max-width:1200px)"/>                                    
                                            <img src="<%= imag.fisier %>" alt="prajituri">                                
                                            </picture>                                                        
                                            <figcaption><%= imag.descriere%></figcaption>                            
                                            </figure>                   
                            <% }} %>   
                    </div>        
                </section>
            </section>
        <section id="promotii">
            <div id="reflexie">
                <div id="text-reflectat1">
                    Super-Oferta!
                    </div>
                <div id="text-reflectat2">
                    Super-Oferta!
                    </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <video controls preload="metadata" poster="resurse/imagini/poster.jpg" width="60%" min-width="300px" max-width="800px">
                 <source src="resurse/video/promovideo.mp4" type="video/mp4" >
                 <source src="resurse/video/promovideo.ogv" type="video/ogv">
                  <track default src="resurse/video/caption_ro.vtt" kind="captions" srclang="ro" label="romana" />
                  <track  src="resurse/video/caption_eng.vtt" kind="captions" srclang="en" label="engleza" />
            </video>
        </section>
        <section id="anunturi">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </section>
        <section id="orar">
            <h2>Program de functionare a magazinului</h2>
            <table id="tab-orar">
                <thead>

                    <tr>
                        <th>Cod</th>
                        <th>Perioadă</th>
                        <th>Zi</th>
                        <th>Interval dimineata</th>
                        <th>Pauza de masa</th>
                        <th>Interval seară</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td rowspan="5">Zile<br/>Lucrătoare</td>
                        <td>Luni</td>
                        <td>10-12</td>
                        <td>12-14</td>
                        <td>14-20</td>
                    </tr>
                    <tr>
                        <td></td>
                        
                        <td>Marti</td>
                        <td>9-12</td>
                        <td>12-14</td>
                        <td>14-21</td>
                    </tr>
                    <tr>
                        <td></td>
                        
                        <td>Miercuri</td>
                        <td>9-11</td>
                        <td>11-13</td>
                        <td>14-21</td>
                    </tr>
                    <tr>
                        <td></td>
                        
                        <td>Joi</td>
                        <td>9-11</td>
                        <td>11-13</td>
                        <td>14-21</td>
                    </tr>
                    <tr>
                        <td></td>
                        
                        <td>Vineri</td>
                        <td>9-12</td>
                        <td>12-14</td>
                        <td>14-19</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td rowspan="2">Weekend</td>
                        <td>Sambata</td>
                        <td>10-12</td>
                        <td>12-13</td>
                        <td>13-16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Duminica</td>
                        <td>10-14</td>
                        <td>-</td>
                        <td>inchis</td>
                    </tr>
                </tbody>
                <tfoot><tr><td colspan="6">Programul poate suferi modificari in timpul sarbatorilor</td></tr></tfoot>
            </table> 
        </section>
        <section id="calendar">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </section>
        <section id="lista_utilizatori">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </section>
        <section id="date_site">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </section>
        <section id="date_utilizatori">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </section>
        </div>
        
        <section id = "q&a">
            <h2>Intrebari frecvente</h2>
            <p><details><summary>Exista transport gratuit?</summary>Transportul este gratuit la comenzi de peste 500 de lei</details>
            
            <section>
                <h3>Informatii generale</h3>
                <p>Toate produsele pot fi livrate la domiciliu in maxim 7 zile lucratoare.</p>
                <p>Nu oferim livrare in afara tarii.</p>

            </section>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>